html,
body {
  background: rgb(164, 164, 164);
  background: linear-gradient(
    180deg,
    rgba(164, 164, 164, 1) 0%,
    rgb(80, 79, 79) 35%,
    rgba(23, 23, 23, 1) 81%
  );
  background-size: 100%;
  background-attachment: fixed;
  background-size: contain !important;
}
