html,
body {
  background: rgb(153, 153, 153);
  background: linear-gradient(
    180deg,
    rgba(153, 153, 153, 1) 0%,
    rgba(79, 79, 79, 1) 47%,
    rgba(0, 0, 0, 1) 100%
  );
  background-attachment: fixed;
  background-size: contain !important;
}
